@model IEnumerable<Test.Models.Dausach>
@{
    ViewData["Title"] = "Shop";
}
@section Scripts{
    <script>
        $(document).ready(function () {
            var page = $("#currentPage").text()
            if (page == 0) {
                $("#1").addClass("active");
            }
            else {
                document.getElementById(page).classList.add("active");
            }

        })
    </script>
}
<div class="hero-wrap hero-bread" style="background-image: url(/images/bg_6.jpg);">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-0 bread">Tủ sách</h1>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-10 order-md-last">
                <div class="mb-3">
                    
                    <form asp-action="Sach">
                        <div class="form-row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <input type="text" name="tensach" id="tensach" class="form-control" placeholder="Nhập tên sách cần tìm" style="border-radius: 10px">
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary py-3">
                    Tìm kiếm
                </button>
            </div>
        </div>
                    </form>
                </div>
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-sm-12 col-md-12 col-lg-4 ftco-animate d-flex">
                            <div class="product d-flex flex-column">
                                <a href="#" class="img-prod">
                                    <img class="img-fluid" src="@item.Hinhanh" alt="Colorlib Template">
                                    <div class="overlay"></div>
                                </a>
                                <div class="text py-3 pb-4 px-3">
                                    <div class="d-flex">
                                        <div class="cat">
                                            <span>@item.IdTheloaiNavigation?.Tentheloai</span>
                                        </div>
                                        <div class="rating">
                                            <p class="text-right mb-0">
                                                <a href="#"><span class="ion-ios-star-outline"></span></a>
                                                <a href="#"><span class="ion-ios-star-outline"></span></a>
                                                <a href="#"><span class="ion-ios-star-outline"></span></a>
                                                <a href="#"><span class="ion-ios-star-outline"></span></a>
                                                <a href="#"><span class="ion-ios-star-outline"></span></a>
                                            </p>
                                        </div>
                                    </div>
                                    <h3><a asp-action="ChiTietSach" asp-route-id="@item.IdDausach">@item.Tensach</a></h3>

                                    @if (item.Tongso == 0)
                                    {
                                        <p class="bottom-area d-flex px-3">
                                            <a  href="#" class="add-to-cart text-center py-2 mr-1"><span>HẾT HÀNG</span></a>
                                        </p>

                                        <div class="pricing">
                                            <p class="price"><span>@item.Trigia?.ToString("#,##0 VNĐ")</span></p>
                                        </div><div style="display: none">
                                            <input type="text" id="quantity" name="quantity" class="quantity form-control input-number" value="1" min="1" max="100">
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="pricing">
                                            <p class="price"><span>@item.Trigia?.ToString("#,##0 VNĐ")</span></p>
                                        </div>
                                        <div style="display: none">
                                            <input type="text" id="quantity" name="quantity" class="quantity form-control input-number" value="1" min="1" max="100">
                                        </div>
                                        
                                    }

                                </div>
                            </div>
                        </div>
                    }

                </div>
                <div class="row mt-5">
                    <div class="col text-center">
                        <div class="block-27">
                            <span style="display:none" id="currentPage">@ViewBag.pageCurrent</span>
                            <ul>
                                @for (var i = 1; i <= ViewBag.totalPage; i++)
                                {
                                    <li id="@i"><a href="@Url.Action("Sach", "DauSach", new { page = @i })">@i</a></li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-lg-2">
                <div class="sidebar">
                    <div class="sidebar-box-2">
                        <h2 class="heading">Categories</h2>
                        <div class="fancy-collapse-panel">
                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingOne">
                                        <h4 class="panel-title">
                                            @foreach (Theloai tl in (List<Theloai>)ViewBag.dsTheLoai)
                                            {
                                                <a href="@Url.Action("Sach", "DauSach", new { idtheloai = tl.IdTheloai })">
                                                    @tl.Tentheloai
                                                </a>
                                            }
                                            <a href="@Url.Action("Sach", "DauSach")">Xem tất cả</a>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@*<section class="ftco-gallery">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 heading-section text-center mb-4 ftco-animate">
                <h2 class="mb-4">Theo dõi chúng tôi trên Instagram</h2>
                <p>LaptopStore mang lại cho bạn những trải nghiệm tuyệt vời nhất.</p>
            </div>
        </div>
    </div>
    <div class="container-fluid px-0">
        <div class="row no-gutters">
            <div class="col-md-4 col-lg-2 ftco-animate">
                <a href="~/images/gallery_1.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(images/gallery_1.jpg);">
                    <div class="icon mb-4 d-flex align-items-center justify-content-center">
                        <span class="icon-instagram"></span>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-lg-2 ftco-animate">
                <a href="~/images/gallery_2.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(images/gallery_3.jpg);">
                    <div class="icon mb-4 d-flex align-items-center justify-content-center">
                        <span class="icon-instagram"></span>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-lg-2 ftco-animate">
                <a href="~/images/gallery_3.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(images/gallery_2.jpg);">
                    <div class="icon mb-4 d-flex align-items-center justify-content-center">
                        <span class="icon-instagram"></span>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-lg-2 ftco-animate">
                <a href="~/images/gallery_4.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(images/gallery_4.jpg);">
                    <div class="icon mb-4 d-flex align-items-center justify-content-center">
                        <span class="icon-instagram"></span>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-lg-2 ftco-animate">
                <a href="~/images/gallery_5.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(images/gallery_5.jpg);">
                    <div class="icon mb-4 d-flex align-items-center justify-content-center">
                        <span class="icon-instagram"></span>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-lg-2 ftco-animate">
                <a href="~/images/gallery_6.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(images/gallery_6.jpg);">
                    <div class="icon mb-4 d-flex align-items-center justify-content-center">
                        <span class="icon-instagram"></span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>*@
<style>
    .img-fluid{
        max-width: 287px;
        max-height: 287px;
    }
    .product .text h3 {
        height: 50px;
    }
    .price span{
        font-size: 18px;
        color: #e600a0;
    }
</style>