@model IEnumerable<Test.Models.Phieutrasach>

@{
    ViewData["Title"] = "View";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable();
        });
        $(function () {
            $("#IdDg").select2();
            $('#IdSach').select2({
                language: {
                    noResults: function () {
                        return null
                    }
                },
                escapeMarkup: function (markup) {
                    return markup;
                }
            })
        })
    setTimeout(function () {
        $('#msgA').fadeOut('slow');
    }, 2000);
    $('table .delete').on('click', function () {
        var id = $(this).data("id");
            $.ajax({
                type: 'POST',
                url: '@Url.Action("timDausach")',
                data: { "id": id },
                success: function (response) {
                    console.log(response)
                    $("#DeleteRecord #id").val(response.idDausach);
                    $("#DeleteRecord #Tensach").val(response.tensach);
                    $("#DeleteRecord #Tongso").val(response.tongso);
                    $("#DeleteRecord #Dangchomuon").val(response.dangchomuon);
                    $("#DeleteRecord #Trigia").val(response.trigia);
                }
            })
    })
        $('#xlnhapngay').on('blur', function () {
            var date = $(this).val();
            console.log(date)
            $('#Ngtra').val(date);
        })
        $('body').on('click', '#btnSach', function (e) {
            e.preventDefault();
            //Get Value
            // var selected = $('.category').select2("val");
            var selected = $('#IdSach').val();
            var temp = "";
            for (var i = 0; i < selected.length; i++) {
                temp += selected[i] + "&";
            }
            $('#txtSach').val(temp);
        });
    </script>

}
<div class="container-fluid">

    <!-- Page Heading -->
    <!-- DataTales Example -->
    <div class="card shadow mb-4">

        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Danh sách phiếu trả sách</h6>
        </div>

        <p></p>

        <div class="container">

            <form asp-action="Create" method="post" enctype="multipart/form-data">
                @*<input type="hidden" class="form-control" id="IdDg" name="Masp" value="1">*@
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="Hotendg">Tên độc giả</label>
                                <select name="idDg" id="IdDg" class="form-control">
                                    @foreach (Thedocgia dg in (List<Thedocgia>)ViewBag.Thedocgia)
                                    {
                                        <option value="@dg.IdDg">@dg.Hotendg</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label class="control-label">Ngày trả</label>
                                <input type="datetime-local" class="form-control" id="xlnhapngay" required />
                            </div>
                            <input type="hidden" class="form-control" id="Ngtra" name="Ngtra" />
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <div class="form-row">
                            <div class="input-group mb-3">
                                <label class="col-md-12">Sách</label>
                                <select class="custom-select" name="IdSach" id="IdSach" multiple="multiple">
                                    @foreach (Sach sach in (List<Sach>)ViewBag.Sach)
                                    {
                                        <option value="@sach.IdSach">@sach.IdSach</option>
                                    }
                                </select>
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" style="background-color: white" type="button" id="btnSach">Áp dụng</button>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" class="form-control" id="txtSach" name="txtSach" />
                    </div>

                  
                    <div class="col-md-12">

                        <div class="form-row">
                            <div class="form-group col-md-10"></div>
                            <div class="form-group col-md-2">
                                <button type="submit" class="btn btn-primary">Thêm</button>
                            </div>
                        </div>

                    </div>


                </div>
            </form>



        </div>

        @if (TempData["AlertMessage"] != null)
        {
            <div id="msgA" class="@TempData["AlertType"]" role="alert">
                @TempData["AlertMessage"]
            </div>}
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th width="20%">Họ tên độc giả</th>
                            <th width="20%">Ngày trả</th>
                            <th width="20%">Tiền phạt kì này</th>
                            <th width="20%">Tổng nợ</th>
                            <th width="20%">Tác vụ</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IdDgNavigation.Hotendg)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Ngtra)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Tienphatkinay)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Tongno)
                                </td>
                                <td>
                                    @*<a asp-action="Edit" asp-route-id="@item.IdPts" class="btn btn-secondary">Edit</a>*@
                                    <a asp-action="Details" asp-route-id="@item.IdPts" class="btn btn-info">Chi tiết</a>
                                    <a asp-action="PhieuThu" asp-route-id="@item.IdPts" class="btn btn-danger delete">Thêm phiếu thu tiền phạt</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>






    <style>
        .select2-container--default .select2-selection--single {
            height: calc(1.5em + 0.75rem + 2px) !important;
        }

        .select2-selection--single .select2-selection__rendered {
            padding-top: 2px !important;
        }

        .select2-container--default .select2-selection--single .select2-selection__arrow {
            top: 5px !important;
        }

        .tg {
            padding: 0px !important;
        }

        .select2-container--default .select2-selection--multiple {
            height: calc(1.5em + 0.75rem + 2px) !important;
            width: 813px !important;
        }
    </style>
