@model Test.Models.Thedocgia

@{ ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
  }

<h1>Chi tiết</h1>

<div>
    <h4>Độc giả</h4>
    <hr />

    <div class="p-4">
        <div class="container">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th colspan="2">Thông tin độc giả</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Tên độc giả</th>
                        <td>@Model.Hotendg</td>
                    </tr>
                    <tr>
                        <th scope="row">Loại độc giả</th>
                        <td>@Model.Loaidg</td>
                    </tr>
                    <tr>
                        <th scope="row">Email</th>
                        <td>@Model.Email</td>
                    </tr>
                    <tr>
                        <th scope="row">Địa chỉ</th>
                        <td>@Model.Diachi</td>
                    </tr>
                    <tr>
                        <th scope="row">Tình trạng</th>
                        <td>@Model.Tinhtrang</td>
                    </tr>
                    <tr>
                        <th scope="row">Ngày sinh</th>
                        <td>@Model.Ngsinh</td>
                    </tr>
                    <tr>
                        <th scope="row">Ngày lập thẻ</th>
                        <td>@Model.Nglapthe</td>
                    </tr>
                </tbody>
            </table>


            <div>
                <a asp-action="Edit" asp-route-id="@Model.IdDg" class="btn btn-success">Cập nhật</a>
            </div>
        </div>
    </div>
</div>

<a asp-action="Index">Trở về trang danh sách</a>
<style>
    .table tbody th {
        width: 350px
    }
</style>