@model IEnumerable<Test.Models.Dausach>
@{ Layout = "_Layout"; }
@section Scripts{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>

    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable();
        });
        $(function () {
            $("#IdTheloai").select2();
            $('#IdTacgia').select2({
                language: {
                    noResults: function () {
                        return `<button style="width: 100%" type="button"
            class="btn btn-primary tacgia"
            data-toggle="modal"
            data-target="#TacGia">+Thêm tác giả</button>
            </li>`;
                    }
                },

                escapeMarkup: function (markup) {
                    return markup;
                }
            })
        })
    setTimeout(function () {
        $('#msgA').fadeOut('slow');
    }, 2000);
    $('table .delete').on('click', function () {
        var id = $(this).data("id");
            $.ajax({
                type: 'POST',
                url: '@Url.Action("timDausach")',
                data: { "id": id },
                success: function (response) {
                    console.log(response)
                    $("#DeleteRecord #id").val(response.idDausach);
                    $("#DeleteRecord #Tensach").val(response.tensach);
                    $("#DeleteRecord #Tongso").val(response.tongso);
                    $("#DeleteRecord #Dangchomuon").val(response.dangchomuon);
                    $("#DeleteRecord #Trigia").val(response.trigia);
                }
            })
    })
        $('#xlnhapngay').on('blur', function () {
            var date = $(this).val();
            console.log(date)
            $('#NgNhap').val(date);
        })
        $('body').on('click', '#btntg', function (e) {
            e.preventDefault();

            //Get Value
            // var selected = $('.category').select2("val");
            var selected = $('#IdTacgia').val();
            var temp = "";
            for (var i = 0; i < selected.length; i++) {
                temp += selected[i] + "&";
            }
            $('#txttg').val(temp);
        });
        $(document).ready(function () {
            var kc = +$("#KcNamxb").val();
            console.log(kc)
            var today = new Date();
            var yearmin = today.getFullYear() - kc;
            var yearmax = today.getFullYear();
            $("#Namxuatban").attr({
                "max": yearmax,
                "min": yearmin
            });
        })
    </script>
}
<div class="container-fluid">

    <!-- Page Heading -->
    <!-- DataTales Example -->
    <div class="card shadow mb-4">

        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Danh sách đầu sách</h6>
        </div>

        <p></p>

        <div class="container">

            <form asp-action="Create" method="post" enctype="multipart/form-data">
                <input type="hidden" class="form-control" id="IdDausach" name="Masp" value="1">
                <input type="hidden" class="form-control" id="KcNamxb" value="@ViewBag.KcNamxb">
                <div class="row">
                    <div class="col-md-3">
                        <div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm">
                            <input id="upload" name="HinhAnhFile" type="file" onchange="readURL(this);" class="form-control border-0">
                            <label id="upload-label" for="upload" class="font-weight-light text-muted">Choose file</label>
                            <div class="input-group-append">
                                <label for="upload" class="btn btn-light m-0 rounded-pill px-4"> <i class="fa fa-cloud-upload mr-2 text-muted"></i><small class="text-uppercase font-weight-bold text-muted">Choose file</small></label>
                            </div>
                        </div>

                        <div class="image-area mt-4">
                            <img id="imageResult" src="#" alt="" class="img-fluid rounded shadow-sm mx-auto d-block">
                        </div>
                    </div>

                    <div class="col-md-9">
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="Danhmuc">Thể loại</label>
                                <select name="IdTheloai" id="IdTheloai" class="form-control">
                                    @foreach (Theloai tl in (List<Theloai>)ViewBag.TheLoai)
                                    {
                                        <option value="@tl.IdTheloai">@tl.Tentheloai</option>
                                    }
                                </select>
                            </div>

                            <div class="form-group col-md-4">
                                <label for="Ramat">Năm xuất bản</label>
                                <input type="number" name="Namxuatban" class="form-control" id="Namxuatban" required />
                            </div>
                            <div class="form-group col-md-4">
                                <label for="Soluong">Tổng số</label>
                                <input type="number" class="form-control" id="Tongso" name="Tongso" required min="0">
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <label class="col-md-12">Tác giả</label>
                            <select class="custom-select" name="IdTacgia" id="IdTacgia" multiple="multiple">
                                @foreach (Tacgia tg in (List<Tacgia>)ViewBag.TacGia)
                                {
                                    <option value="@tg.IdTacgia">@tg.Tentg</option>
                                }
                            </select>
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" id="btntg">Áp dụng</button>
                            </div>
                        </div>
                        <input type="hidden" class="form-control" id="txttg" name="txttg" />
                        @*<div class="form-row">gN
                    <div class="form-group col-md-12 tg">
                        <label for="TacGia">Tác giả</label>
                        <select name="IdTacgia" id="IdTacgia" class="form-control" multiple="multiple">
                            @foreach (Tacgia tg in (List<Tacgia>)ViewBag.TacGia)
                            {
                                <option value="@tg.IdTacgia">@tg.Tentg</option>
                            }
                        </select>
                    </div>
                </div>*@
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="Tensp">Tên sách</label>
                                <input type="text" class="form-control" id="Tensach" name="Tensach" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="Nhaxuatban">Nhà xuất bản</label>
                                <input type="text" class="form-control" id="Nhaxuatban" name="Nhaxuatban" required>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-8">
                                <label class="control-label">Ngày nhập</label>
                                <input type="datetime-local" class="form-control" id="xlnhapngay" />
                            </div>
                            <input type="hidden" class="form-control" id="NgNhap" name="NgNhap" />
                            <div class="form-group col-md-4">
                                <label for="Trigia">Trị giá</label>
                                <input type="number" class="form-control" id="Trigia" name="Trigia" required min="0">
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-10"></div>
                            <div class="form-group col-md-2">
                                <button type="submit" class="btn btn-primary">Thêm</button>
                            </div>
                        </div>
                    </div>

                </div>
            </form>



        </div>

        @if (TempData["AlertMessage"] != null)
        {
            <div id="msgA" class="@TempData["AlertType"]" role="alert">
                @TempData["AlertMessage"]
            </div>}
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th width="30%">Tên sách</th>
                            <th width="10%">Năm xuất bản</th>
                            <th width="10%">Nhà xuất bản</th>
                            <th width="10%">Trị giá</th>
                            <th width="10%">Tổng số</th>
                            <th width="10%">Đang cho mượn</th>
                            <th width="20%">Tác vụ</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Tensach</td>
                                <td>@item.Namxuatban</td>
                                <td>@item.Nhaxuatban</td>
                                <td>@item.Trigia?.ToString("#,##0 VNĐ")</td>
                                <td>@item.Tongso</td>
                                <td>@item.Dangchomuon</td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.IdDausach" class="btn btn-secondary">Cập nhật</a>
                                    <a asp-action="Details" asp-route-id="@item.IdDausach" class="btn btn-info">Chi tiết</a>
                                    <button type="button"
                                            class="btn btn-danger delete"
                                            data-toggle="modal"
                                            data-target="#DeleteRecord"
                                            data-id="@item.IdDausach">
                                        Xóa
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <div class="modal fade" id="DeleteRecord" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Xác nhận xóa</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form asp-controller="DauSach" asp-action="Delete" method="post">
                    <div class="modal-body">
                        <div class="form-group">
                            <input type="hidden" readonly id=id class="form-control" name="id" />

                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Tên sách</label>
                                <div class="col-sm-8">
                                    <input type="text" readonly id="Tensach" class="form-control" name="Tensach" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Tổng số</label>
                                <div class="col-sm-8">
                                    <input type="text" readonly id="Tongso" class="form-control" name="Tongso" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Đang cho mượn</label>
                                <div class="col-sm-8">
                                    <input type="text" readonly id="Dangchomuon" class="form-control" name="Dangchomuon" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Trị giá</label>
                                <div class="col-sm-8">
                                    <input type="text" readonly id="Trigia" class="form-control" name="Trigia" />
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>

                        <button type="submit" class="btn btn-primary">Xóa</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="modal fade" id="TacGia" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Thêm tác giả</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form asp-controller="TacGia" asp-action="CreateDS" method="post">
                    <div class="modal-body">
                        <div class="form-group">
                            <input type="hidden" readonly id=id class="form-control" name="id" />

                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Tên tác giả</label>
                                <div class="col-sm-8">
                                    <input type="text" id="Tentg" class="form-control" name="Tentg" />
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>

                        <button type="submit" class="btn btn-primary">Thêm</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <style>
        .select2-container--default .select2-selection--single {
            height: calc(1.5em + 0.75rem + 2px) !important;
        }

        .select2-selection--single .select2-selection__rendered {
            padding-top: 2px !important;
        }

        .select2-container--default .select2-selection--single .select2-selection__arrow {
            top: 5px !important;
        }
        .tg{
            padding: 0px!important;
        }
        .select2-container--default .select2-selection--multiple {
            height: calc(1.5em + 0.75rem + 2px) !important;
            width : 813px!important;
        }
    </style>
